<p id="notice"><%= notice %></p>

<p>
  <b>Friend:</b>
  <%= @game.friend_id %>
</p>

<p>
  <b>Due date:</b>
  <%= @game.due_date %>
</p>


<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
